<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.boot.mybatisplus.dao.mapper.PlatformSalaryItemMapper">

    <select id="queryByColumns" resultType="java.util.Map">
        select
            ${columns}
        from
            ${tableName}
        order by
            ${orders}
    </select>
</mapper>
