<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.boot.mybatisplus.druid.multi.datasource.valeera.dao.mapper.SysOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spring.boot.mybatisplus.druid.multi.datasource.valeera.dao.entity.SysOrder">
        <id column="order_id" property="orderId" />
        <result column="order_no" property="orderNo" />
        <result column="order_time" property="orderTime" />
    </resultMap>

</mapper>
